@import "rose-pine-moon.rasi"

* {
  background:       @bg;
  foreground:       @fgd;
  accent:           @pur;
  background-tb:    @cmt;
  border-tb:        @fgd;
  selected:         linear-gradient(to right, #2a273f, #c4a7e7);
  button:           linear-gradient(#6e6a86);
  button-selected:  linear-gradient(#c4a7e7);
  active:           linear-gradient(to right, #9ccfd8, #3e8fb0);
  urgent:           #eb6f92;
}
