@import "frappe.scss";

.workspaces {
  button {
    background: none;
    &.active {
      color: $color-lavender;
    }
  }
}

.large-symbol {
  font-size: 0.8em;
}

.metric {
  padding: 5px 2px;
}
