* {
  font-size: 16px;
  font-feature-settings: "tnum";
  min-width: 18px;
}

window#waybar,
#workspaces,
#battery,
#memory,
#cpu {
  border-right: 1px solid;
}

window#waybar.hidden {
  opacity: 0.2;
}

button {
  box-shadow: none;
  border: none;
  border-radius: 0;
  transition-property: none;
}

/* #workspaces button:hover { */
/*   background-color: rgba(49, 50, 68, 1); */
/* } */
/**/
#workspaces button.active {
  background-color: @text_view_bg;
}

#workspaces button#niri-workspace-browser {
  color: @BLUEBERRY_100;
}

#workspaces button#niri-workspace-orgmode {
  color: @LIME_500;
}

#clock,
#battery,
#cpu,
#custom-keyboard-layout,
#memory,
#disk,
#temperature,
#network,
#mode,
#language,
#custom-style,
#mpris,
#custom-power {
  padding: 4.2px 4.2px;
}

#memory,
#cpu {
  background-color: @theme_base_color;
}

.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}

#battery.critical:not(.charging) {
  background-color: @error_color;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
