/* DMS Matugen Zen Browser Theme */
:root {
  --zen-primary-color: #3e437e !important;
  --toolbarbutton-icon-fill: #b7bdf8 !important;
  --toolbar-field-color: #cad3f5 !important;
  --tab-selected-textcolor: #b7bdf8 !important;
  --toolbar-color: #cad3f5 !important;
  --arrowpanel-color: #cad3f5 !important;
  --arrowpanel-background: #24273a !important;
  --sidebar-text-color: #cad3f5 !important;
  --zen-main-browser-background: #24273a !important;
}

.sidebar-placesTree {
  background-color: #24273a !important;
}

#zen-workspaces-button {
  background-color: #24273a !important;
}

#TabsToolbar {
  background-color: #24273a !important;
}

.urlbar-background {
  background-color: #24273a !important;
}

.urlbar-input::selection {
  color: #24273a !important;
  background-color: #b7bdf8 !important;
}

.urlbarView-url {
  color: #a5adcb !important;
}

toolbar .toolbarbutton-1 {
  &:not([disabled]) {
    &:is([open], [checked])
      > :is(
        .toolbarbutton-icon,
        .toolbarbutton-text,
        .toolbarbutton-badge-stack
      ) {
      fill: #b7bdf8
    }
  }
}

.identity-color-blue {
  --identity-tab-color: #c6cbff !important;
  --identity-icon-color: #c6cbff !important;
}

.identity-color-turquoise {
  --identity-tab-color: #b7bdf8 !important;
  --identity-icon-color: #b7bdf8 !important;
}

.identity-color-green {
  --identity-tab-color: #a5ffb5 !important;
  --identity-icon-color: #a5ffb5 !important;
}

.identity-color-yellow {
  --identity-tab-color: #ffe6a5 !important;
  --identity-icon-color: #ffe6a5 !important;
}

.identity-color-orange {
  --identity-tab-color: #ffd872 !important;
  --identity-icon-color: #ffd872 !important;
}

.identity-color-red {
  --identity-tab-color: #ff9fb7 !important;
  --identity-icon-color: #ff9fb7 !important;
}

.identity-color-pink {
  --identity-tab-color: #d0d4ff !important;
  --identity-icon-color: #d0d4ff !important;
}

.identity-color-purple {
  --identity-tab-color: #3b4072 !important;
  --identity-icon-color: #3b4072 !important;
}

#zen-appcontent-navbar-container {
  background-color: #24273a !important;
}

#PanelUI-menu-button .toolbarbutton-icon,
#downloads-button .toolbarbutton-icon,
#unified-extensions-button .toolbarbutton-icon {
  fill: #b7bdf8 !important;
  color: #b7bdf8 !important;
}

#PanelUI-menu-button .toolbarbutton-badge-stack,
#downloads-button .toolbarbutton-badge-stack,
#unified-extensions-button .toolbarbutton-badge-stack {
  fill: #b7bdf8 !important;
  color: #b7bdf8 !important;
}

toolbar .toolbarbutton-1 > .toolbarbutton-icon {
  fill: #b7bdf8 !important;
}
