/* DMS Matugen Zen Browser Theme */
:root {
  --zen-primary-color: #3e437e !important;
  --toolbarbutton-icon-fill: #b7bdf8 !important;
  --toolbar-field-color: #cad3f5 !important;
  --tab-selected-textcolor: #b7bdf8 !important;
  --toolbar-color: #cad3f5 !important;
  --arrowpanel-color: #cad3f5 !important;
  --arrowpanel-background: #24273a !important;
  --sidebar-text-color: #cad3f5 !important;
/*  --zen-main-browser-background: #24273a !important; */
}

.sidebar-placesTree {
  background-color: #24273a !important;
}

#zen-workspaces-button {
  background-color: #24273a !important;
}

#TabsToolbar {
  background-color: #24273a !important;
}

.urlbar-background {
  background-color: #24273a !important;
}

.urlbar-input::selection {
  color: #24273a !important;
  background-color: #b7bdf8 !important;
}

.urlbarView-url {
  color: #a5adcb !important;
}

toolbar .toolbarbutton-1 {
  &:not([disabled]) {
    &:is([open], [checked])
      > :is(
        .toolbarbutton-icon,
        .toolbarbutton-text,
        .toolbarbutton-badge-stack
      ) {
      fill: #b7bdf8
    }
  }
}

.identity-color-blue {
  --identity-tab-color: #c9d0ff !important;
  --identity-icon-color: #c9d0ff !important;
}

.identity-color-turquoise {
  --identity-tab-color: #b7bdf8 !important;
  --identity-icon-color: #b7bdf8 !important;
}

.identity-color-green {
  --identity-tab-color: #86e087 !important;
  --identity-icon-color: #86e087 !important;
}

.identity-color-yellow {
  --identity-tab-color: #e8e397 !important;
  --identity-icon-color: #e8e397 !important;
}

.identity-color-orange {
  --identity-tab-color: #dbd57b !important;
  --identity-icon-color: #dbd57b !important;
}

.identity-color-red {
  --identity-tab-color: #e0645f !important;
  --identity-icon-color: #e0645f !important;
}

.identity-color-pink {
  --identity-tab-color: #697cc2 !important;
  --identity-icon-color: #697cc2 !important;
}

.identity-color-purple {
  --identity-tab-color: #9396ba !important;
  --identity-icon-color: #9396ba !important;
}

#zen-appcontent-navbar-container {
  background-color: #24273a !important;
}
