/* DMS Matugen Zen Browser Theme */
:root {
  --zen-primary-color: #3d427b !important;
  --toolbarbutton-icon-fill: #babbf1 !important;
  --toolbar-field-color: #c6d0f5 !important;
  --tab-selected-textcolor: #babbf1 !important;
  --toolbar-color: #c6d0f5 !important;
  --arrowpanel-color: #c6d0f5 !important;
  --arrowpanel-background: #303446 !important;
  --sidebar-text-color: #c6d0f5 !important;
/*  --zen-main-browser-background: #303446 !important; */
}

.sidebar-placesTree {
  background-color: #303446 !important;
}

#zen-workspaces-button {
  background-color: #303446 !important;
}

#TabsToolbar {
  background-color: #303446 !important;
}

.urlbar-background {
  background-color: #303446 !important;
}

.urlbar-input::selection {
  color: #303446 !important;
  background-color: #babbf1 !important;
}

.urlbarView-url {
  color: #a5adce !important;
}

toolbar .toolbarbutton-1 {
  &:not([disabled]) {
    &:is([open], [checked])
      > :is(
        .toolbarbutton-icon,
        .toolbarbutton-text,
        .toolbarbutton-badge-stack
      ) {
      fill: #babbf1
    }
  }
}

.identity-color-blue {
  --identity-tab-color: #cecfff !important;
  --identity-icon-color: #cecfff !important;
}

.identity-color-turquoise {
  --identity-tab-color: #babbf1 !important;
  --identity-icon-color: #babbf1 !important;
}

.identity-color-green {
  --identity-tab-color: #86e088 !important;
  --identity-icon-color: #86e088 !important;
}

.identity-color-yellow {
  --identity-tab-color: #e8e397 !important;
  --identity-icon-color: #e8e397 !important;
}

.identity-color-orange {
  --identity-tab-color: #dbd67b !important;
  --identity-icon-color: #dbd67b !important;
}

.identity-color-red {
  --identity-tab-color: #e0655f !important;
  --identity-icon-color: #e0655f !important;
}

.identity-color-pink {
  --identity-tab-color: #7581cc !important;
  --identity-icon-color: #7581cc !important;
}

.identity-color-purple {
  --identity-tab-color: #9394b4 !important;
  --identity-icon-color: #9394b4 !important;
}

#zen-appcontent-navbar-container {
  background-color: #303446 !important;
}
