// ────────────── Keybindings ──────────────
// https://github.com/YaLTeR/niri/wiki/Configuration:-Key-Bindings

binds {
	Mod+Shift+Slash                    { show-hotkey-overlay; }

	// ─── Applications ───
	Mod+T                          hotkey-overlay-title="Open Terminal: kitty" { spawn-sh "kitty"; }
	Mod+W                          hotkey-overlay-title="Open Browser: zen-browser" { spawn-sh "zen-browser"; }
	Mod+E                             hotkey-overlay-title="File Manager: Nautilus" { spawn-sh "nautilus"; }
	Mod+Shift+E  					hotkey-overlay-title="File Manager: yazi" { spawn-sh "kitty yazi"; }
	Mod+Shift+M  					hotkey-overlay-title="Music Player: rmpc" { spawn-sh "kitty rmpc"; }

	// ─── Audio Controls ───
	XF86AudioNext                       allow-when-locked=true { spawn-sh "playerctl next"; }
	XF86AudioPause                      allow-when-locked=true { spawn-sh "playerctl play-pause"; }
	XF86AudioPlay                       allow-when-locked=true { spawn-sh "playerctl play-pause"; }
	XF86AudioPrev                       allow-when-locked=true { spawn-sh "playerctl previous"; }

	// ─── Window Movement and Focus ───
	Mod+Q                               { close-window; }

	Mod+LEFT                            { focus-column-left; }
	Mod+H                               { focus-column-left; }
	Mod+RIGHT                           { focus-column-right; }
	Mod+L                               { focus-column-right; }
	Mod+UP                              { focus-window-up; }
	Mod+K                               { focus-window-up; }
	Mod+DOWN                            { focus-window-down; }
	Mod+J                               { focus-window-down; }

  Mod+BracketLeft  { consume-or-expel-window-left; }
  Mod+BracketRight { consume-or-expel-window-right; }

	Mod+Ctrl+Left                       { move-column-left; }
	Mod+Ctrl+H                          { move-column-left; }
	Mod+Ctrl+Right                      { move-column-right; }
	Mod+Ctrl+L                          { move-column-right; }
	Mod+Ctrl+UP                         { move-window-up; }
	Mod+Ctrl+K                          { move-window-up; }
	Mod+Ctrl+DOWN                       { move-window-down; }
	Mod+Ctrl+J                          { move-window-down; }

	Mod+HOME                            { focus-column-first; }
	Mod+END                             { focus-column-last; }
	Mod+Ctrl+HOME                       { move-column-to-first; }
	Mod+Ctrl+END                        { move-column-to-last; }

	Mod+Shift+Left                      { focus-monitor-left; }
	Mod+Shift+H                      { focus-monitor-left; }
	Mod+Ctrl+BracketLeft                      { focus-monitor-left; } 		// [
	Mod+Ctrl+BracketRight                      { focus-monitor-right; }  // ]
	Mod+Shift+Right                     { focus-monitor-right; }
	Mod+Shift+L                     { focus-monitor-right; }

	Mod+Shift+Ctrl+Left                 { move-column-to-monitor-left; }
	Mod+Shift+Ctrl+H                 { move-column-to-monitor-left; }
	Mod+Shift+Ctrl+Right                { move-column-to-monitor-right; }
	Mod+Shift+Ctrl+L                { move-column-to-monitor-right; }

	// ─── Workspace Switching ───
  Mod+Shift+U         { move-workspace-down; }
  Mod+Shift+I         { move-workspace-up; }

	Mod+WHEELSCROLLDOWN                 cooldown-ms=150 { focus-workspace-down; }
	Mod+WHEELSCROLLUP                   cooldown-ms=150 { focus-workspace-up; }
  Mod+U              { focus-workspace-down; }
  Mod+I              { focus-workspace-up; }
	Mod+CTRL+U            cooldown-ms=150 { move-column-to-workspace-down; }
	Mod+CTRL+WHEELSCROLLDOWN            cooldown-ms=150 { move-column-to-workspace-down; }
	Mod+CTRL+I              cooldown-ms=150 { move-column-to-workspace-up; }
	Mod+CTRL+WHEELSCROLLUP              cooldown-ms=150 { move-column-to-workspace-up; }

	Mod+Shift+WHEELSCROLLDOWN           { focus-column-right; }
	Mod+Shift+WHEELSCROLLUP             { focus-column-left; }
	Mod+Ctrl+Shift+WHEELSCROLLDOWN      { move-column-right; }
	Mod+Ctrl+Shift+WHEELSCROLLUP        { move-column-left; }

	Mod+1                               { focus-workspace 1; }
	Mod+2                               { focus-workspace 2; }
	Mod+3                               { focus-workspace 3; }
	Mod+4                               { focus-workspace 4; }
	Mod+5                               { focus-workspace 5; }
	Mod+6                               { focus-workspace 6; }
	Mod+7                               { focus-workspace 7; }
	Mod+8                               { focus-workspace 8; }
	Mod+9                               { focus-workspace 9; }

	Mod+Ctrl+1                          { move-column-to-workspace 1; }
	Mod+Ctrl+2                          { move-column-to-workspace 2; }
	Mod+Ctrl+3                          { move-column-to-workspace 3; }
	Mod+Ctrl+4                          { move-column-to-workspace 4; }
	Mod+Ctrl+5                          { move-column-to-workspace 5; }
	Mod+Ctrl+6                          { move-column-to-workspace 6; }
	Mod+Ctrl+7                          { move-column-to-workspace 7; }
	Mod+Ctrl+8                          { move-column-to-workspace 8; }
	Mod+Ctrl+9                          { move-column-to-workspace 9; }

	// ─── Layout Controls ───
  Mod+R 															{ switch-preset-column-width; }
	Mod+Ctrl+F                          { expand-column-to-available-width; }
	Mod+C                               { center-column; }
	Mod+Minus                           { set-column-width "-10%"; }
	Mod+Equal                           { set-column-width "+10%"; }
	Mod+Shift+Minus                     { set-window-height "-10%"; }
	Mod+Shift+Equal                     { set-window-height "+10%"; }

	// ─── Modes ───
	Mod+V                               { toggle-window-floating; }
	// TODO: Mod+Shift+V  							{ switch-bettwen-floating; }
  Mod+F { maximize-column; }
  Mod+Shift+F { fullscreen-window; }
	Mod+Tab                               { toggle-column-tabbed-display; }

	// ─── Screenshots ───
  Print { screenshot; }    
  Ctrl+Print { screenshot-screen; }
  Alt+Print { screenshot-window; }

	// ─── Exit / Power ───
	Mod+Ctrl+V                               repeat=false { toggle-overview; }
	Mod+Ctrl+Shift+E { quit; }
}
