// Niri configuration
// For documentation and full reference, see: https://github.com/YaLTeR/niri/wiki

include "binds.kdl"
include "envs.kdl"
include "rules.kdl"

include "dms/alttab.kdl"
include "dms/prefbinds.kdl"
include "dms/colors.kdl"

config-notification {
  disable-failed
}

hotkey-overlay {
	skip-at-startup
	hide-not-bound
}

cursor {
  xcursor-theme "Breeze"
  xcursor-size 20
  hide-when-typing
  hide-after-inactive-ms 1000
}

// ────────────── Input Configuration ──────────────
// https://github.com/YaLTeR/niri/wiki/Configuration:-Input
input {
	keyboard {
		xkb {
			layout "us,ru" 
			options "grp:win_space_toggle,compose:ralt,ctrl:nocaps"
		}
		numlock // Enable numlock on startup
	}

	touchpad {
		tap // Enable tap-to-click
		natural-scroll // Enable natural (macOS-style) scrolling
	}

	workspace-auto-back-and-forth // Enable workspace back & forth switching
}

// ────────────── Output Configuration ──────────────
// You can run `niri msg outputs` to get the correct name for your displays.
// https://github.com/YaLTeR/niri/wiki/Configuration:-Outputs

output "DP-1" {
	mode "1920x1080@165.002" // Set resolution and refresh rate
	focus-at-startup

  layout {
    default-column-width { proportion 0.8; }
  }
}

output "HDMI-A-1" {
	transform "90"

	layout {
  	default-column-width { proportion 1.0; }
	}
}


// ────────────── Workspace Configuration ──────────────
// https://github.com/YaLTeR/niri/wiki/Configuration:-Named-Workspaces
workspace "browser" {
  open-on-output "DP-1"
}
workspace "editor" {
  open-on-output "DP-1"
}


// ────────────── Startup Applications ──────────────
// https://github.com/YaLTeR/niri/wiki/Configuration:-Miscellaneous#spawn-sh-at-startup

spawn-at-startup "{{POLKIT_AGENT_PATH}}"
prefer-no-csd // Disable program decorations
screenshot-path "~/Pictures/Screenshots/Screenshot_from_%Y-%m-%d_%H-%M-%S.png"

// ────────────── Layout Settings ──────────────
// https://github.com/YaLTeR/niri/wiki/Configuration:-Layout
layout {
	gaps 8 // Gap between windows

	always-center-single-column
	center-focused-column "never"

	preset-column-widths {
		proportion 0.3
		proportion 0.5
		proportion 0.8
		proportion 1.0
	}

	shadow {
		softness 30
		spread 5
		offset x=0 y=5
	}

	struts {}

  border {
    width 1
  }

  focus-ring {
    width 1
  }
}

overview {
	zoom 0.5

  workspace-shadow {
    off
  }
}

// ────────────── Animation Settings ──────────────
// https://github.com/YaLTeR/niri/wiki/Configuration:-Animations
animations {
	workspace-switch {
		spring damping-ratio=1.0 stiffness=1000 epsilon=0.0001
	}
	window-open {
		duration-ms 200
		curve "ease-out-quad"
	}
	window-close {
		duration-ms 200
		curve "ease-out-cubic"
	}
	horizontal-view-movement {
		spring damping-ratio=1.0 stiffness=900 epsilon=0.0001
	}
	window-movement {
		spring damping-ratio=1.0 stiffness=800 epsilon=0.0001
	}
	window-resize {
		spring damping-ratio=1.0 stiffness=1000 epsilon=0.0001
	}
	config-notification-open-close {
		spring damping-ratio=0.6 stiffness=1200 epsilon=0.001
	}
	screenshot-ui-open {
		duration-ms 300
		curve "ease-out-quad"
	}
	overview-open-close {
		spring damping-ratio=1.0 stiffness=900 epsilon=0.0001
	}
}

include "dms/cursor.kdl"
