// NOTE: default config file: https://github.com/YaLTeR/niri/blob/main/resources/default-config.kdl

environment {
    DISPLAY ":42"
}

debug {
    wait-for-frame-completion-in-pipewire
}

overview {
    backdrop-color "#75686b"
}

cursor {
    xcursor-theme "BreezeX-RosePine-Linux"
}

// Workspaces configuration
// https://github.com/YaLTeR/niri/wiki/Configuration:-Named-Workspaces
workspace "browser" {
    open-on-output "Xiaomi Corporation P27FBB-RGGL 5275600038779"
} 
workspace "code" {
    open-on-output "Xiaomi Corporation P27FBB-RGGL 5275600038779"
}
workspace "orgmode" {
    open-on-output "Xiaomi Corporation P27FBB-RGGL 5275600038779"
}

// Monitor configuration
// https://github.com/YaLTeR/niri/wiki/Configuration:-Outputs
output "Philips Consumer Electronics Company PHL 220V8 ZV02030003859" {
    // off
    transform "90"
}
output "Xiaomi Corporation P27FBB-RGGL 5275600038779" {
    mode "1920x1080@165.002"
}

// Input device configuration.
// Find the full list of options on the wiki:
// https://github.com/YaLTeR/niri/wiki/Configuration:-Input
input {
    keyboard {
        xkb {
            layout "us,ru"
            options "grp:win_space_toggle,compose:ralt,ctrl:nocaps"
        }
    }
}

// Settings that influence how windows are positioned and sized.
// Find more information on the wiki:
// https://github.com/YaLTeR/niri/wiki/Configuration:-Layout
layout {
    gaps 16

    center-focused-column "never"

    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }

    default-column-width { proportion 0.5; }

    focus-ring {
        width 4
        // Color of the ring on the active monitor.
        active-color "#ffa066"
        // Color of the ring on inactive monitors.
        inactive-color "#505050"
    }

    tab-indicator {
        width 5
        length total-proportion=0.42
        active-color "#ef9f76"
    }
}

spawn-at-startup "~/.config/scripts/init_swww" 
spawn-at-startup "xwayland-satellite" ":42"
spawn-at-startup "swayosd-server"
spawn-at-startup "kitty --title orgmode nvim"
spawn-at-startup "~/.config/eww/startup.sh"

screenshot-path "~/Pictures/Screenshots/Screenshot_from_%Y-%m-%d_%H-%M-%S.png"

// Window rules let you adjust behavior for individual windows.
// Find more information on the wiki:
// https://github.com/YaLTeR/niri/wiki/Configuration:-Window-Rules
window-rule {
    match app-id="anki"
    match app-id="org.keepassxc.KeePassXC"
    match app-id="Vivaldi-stable" 
    match app-id="zen" 
    match app-id="org.kde.okular"

    open-maximized true
}
window-rule {
    match app-id="Vivaldi-stable" 
    match app-id="zen" 
    open-on-workspace "browser"
}
window-rule {
    match app-id="kitty"
    match app-id="neovide"
    default-column-width { proportion 0.75; }
    draw-border-with-background false
    opacity 0.95
}
window-rule {
    match at-startup=true app-id="kitty" title="orgmode"
    match at-startup=true app-id="orgmode"
    open-on-workspace "orgmode"
}
window-rule {
    match app-id="anki" title="Edit Current"
    match app-id="kitty" title="btop"
    match app-id="kitty" title="nmtui"
    match app-id="blueman-manager"
    match app-id="AmneziaVPN"

    opacity 1.0
    open-floating true
    open-focused true
}
window-rule {
    match app-id="blueman-manager"
    max-height 942
    max-width 942
}
window-rule {
    match app-id="steam" title=r#"^notificationtoasts_\d+_desktop$"#
    default-floating-position x=10 y=10 relative-to="bottom-right"
}


window-rule {
    match app-id=r#"^org\.keepassxc\.KeePassXC$"#
    match app-id=r#"^org\.gnome\.World\.Secrets$"#

    block-out-from "screen-capture"
}

window-rule {
    geometry-corner-radius 4.2
    clip-to-geometry true
}

binds {
    Mod+Shift+Slash { show-hotkey-overlay; }

    Mod+T { spawn "kitty"; }
    Mod+Escape hotkey-overlay-title="Logout menu" { spawn "wlogout"; } 
    Mod+Shift+T hotkey-overlay-title="Spawn btop" { spawn "kitty" "--title" "btop" "btop"; }
    Mod+W { spawn "zen-browser"; }
    Mod+A { spawn "fuzzel"; }
    Mod+E hotkey-overlay-title="Spawn yazi" { spawn "kitty" "yazi"; }
    Mod+Tab { toggle-column-tabbed-display; }
    Mod+B { spawn "blueman-manager"; }
    Super+Alt+L { spawn "gtklock"; }
    Mod+N { spawn "swaync-client" "-t"; }

    XF86AudioRaiseVolume allow-when-locked=true { spawn "swayosd-client" "--output-volume" "5"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn "swayosd-client" "--output-volume" "-5"; }
    XF86AudioMute        allow-when-locked=true { spawn "swayosd-client" "--output-volume" "mute-toggle"; }
    XF86AudioMicMute     allow-when-locked=true { spawn "swayosd-client" "--input-volume" "mute-toggle"; }

    XF86AudioPrev allow-when-locked=true { spawn "playerctl" "previous"; }
    XF86AudioPlay allow-when-locked=true { spawn "playerctl" "play-pause"; }
    XF86AudioNext allow-when-locked=true { spawn "playerctl" "next"; }

    Mod+Q hotkey-overlay-title=null { close-window; }

    Mod+Left  { focus-column-left; }
    Mod+Down  { focus-window-down; }
    Mod+Up    { focus-window-up; }
    Mod+Right { focus-column-right; }
    Mod+H     { focus-column-left; }
    Mod+J     { focus-window-down; }
    Mod+K     { focus-window-up; }
    Mod+L     { focus-column-right; }

    Mod+Ctrl+Left  { move-column-left; }
    Mod+Ctrl+Down  { move-window-down; }
    Mod+Ctrl+Up    { move-window-up; }
    Mod+Ctrl+Right { move-column-right; }
    Mod+Ctrl+H     { move-column-left; }
    Mod+Ctrl+J     { move-window-down; }
    Mod+Ctrl+K     { move-window-up; }
    Mod+Ctrl+L     { move-column-right; }

    Mod+Home { focus-column-first; }
    Mod+End  { focus-column-last; }
    Mod+Ctrl+Home { move-column-to-first; }
    Mod+Ctrl+End  { move-column-to-last; }

    Mod+Comma { focus-monitor-left; }
    Mod+Period { focus-monitor-right; }
    Mod+Shift+Left  { focus-monitor-left; }
    Mod+Shift+Down  { focus-monitor-down; }
    Mod+Shift+Up    { focus-monitor-up; }
    Mod+Shift+Right { focus-monitor-right; }
    Mod+Shift+H     { focus-monitor-left; }
    Mod+Shift+J     { focus-monitor-down; }
    Mod+Shift+K     { focus-monitor-up; }
    Mod+Shift+L     { focus-monitor-right; }

    Mod+Shift+Ctrl+Left  { move-column-to-monitor-left; }
    Mod+Shift+Ctrl+Down  { move-column-to-monitor-down; }
    Mod+Shift+Ctrl+Up    { move-column-to-monitor-up; }
    Mod+Shift+Ctrl+Right { move-column-to-monitor-right; }
    Mod+Shift+Ctrl+H     { move-column-to-monitor-left; }
    Mod+Shift+Ctrl+J     { move-column-to-monitor-down; }
    Mod+Shift+Ctrl+K     { move-column-to-monitor-up; }
    Mod+Shift+Ctrl+L     { move-column-to-monitor-right; }

    Mod+Shift+Ctrl+Comma  { move-workspace-to-monitor-left; }
    Mod+Shift+Ctrl+Period  { move-workspace-to-monitor-right; }

    Mod+Page_Down      { focus-workspace-down; }
    Mod+Page_Up        { focus-workspace-up; }
    Mod+U              { focus-workspace-down; }
    Mod+I              { focus-workspace-up; }
    Mod+Ctrl+Page_Down { move-column-to-workspace-down; }
    Mod+Ctrl+Page_Up   { move-column-to-workspace-up; }
    Mod+Ctrl+U         { move-column-to-workspace-down; }
    Mod+Ctrl+I         { move-column-to-workspace-up; }

    Mod+Shift+Page_Down { move-workspace-down; }
    Mod+Shift+Page_Up   { move-workspace-up; }
    Mod+Shift+U         { move-workspace-down; }
    Mod+Shift+I         { move-workspace-up; }

    Mod+WheelScrollDown      cooldown-ms=150 { focus-workspace-down; }
    Mod+WheelScrollUp        cooldown-ms=150 { focus-workspace-up; }
    Mod+Ctrl+WheelScrollDown cooldown-ms=150 { move-column-to-workspace-down; }
    Mod+Ctrl+WheelScrollUp   cooldown-ms=150 { move-column-to-workspace-up; }

    Mod+WheelScrollRight      { focus-column-right; }
    Mod+WheelScrollLeft       { focus-column-left; }
    Mod+Ctrl+WheelScrollRight { move-column-right; }
    Mod+Ctrl+WheelScrollLeft  { move-column-left; }

    Mod+Shift+WheelScrollDown      { focus-column-right; }
    Mod+Shift+WheelScrollUp        { focus-column-left; }
    Mod+Ctrl+Shift+WheelScrollDown { move-column-right; }
    Mod+Ctrl+Shift+WheelScrollUp   { move-column-left; }

    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }
    Mod+Ctrl+1 { move-column-to-workspace 1; }
    Mod+Ctrl+2 { move-column-to-workspace 2; }
    Mod+Ctrl+3 { move-column-to-workspace 3; }
    Mod+Ctrl+4 { move-column-to-workspace 4; }
    Mod+Ctrl+5 { move-column-to-workspace 5; }
    Mod+Ctrl+6 { move-column-to-workspace 6; }
    Mod+Ctrl+7 { move-column-to-workspace 7; }
    Mod+Ctrl+8 { move-column-to-workspace 8; }
    Mod+Ctrl+9 { move-column-to-workspace 9; }

    Mod+BracketLeft  { consume-or-expel-window-left; }
    Mod+BracketRight { consume-or-expel-window-right; }

    Mod+R { switch-preset-column-width; }
    Mod+Shift+R { switch-preset-window-height; }
    Mod+Ctrl+R { reset-window-height; }
    Mod+F { maximize-column; }
    Mod+Shift+F { fullscreen-window; }
    Mod+C { center-column; }

    Mod+Minus { set-column-width "-10%"; }
    Mod+Equal { set-column-width "+10%"; }

    Mod+Shift+Minus { set-window-height "-10%"; }
    Mod+Shift+Equal { set-window-height "+10%"; }

    Mod+V       { toggle-window-floating; }
    Mod+Shift+V { switch-focus-between-floating-and-tiling; }

    Print { screenshot; }
    Ctrl+Print { screenshot-screen; }
    Alt+Print { screenshot-window; }

    Mod+Shift+E { quit; }
    Ctrl+Alt+Delete { quit; }

    Mod+Shift+P { power-off-monitors; }
    Mod+Alt+H { expand-column-to-available-width; }
    Mod+Ctrl+V { toggle-overview; }
}
