layout {

    focus-ring {
        active-color   "#6770e4"
        inactive-color "#1b1c22"
        urgent-color   "#fd4663"
    }

    border {
        active-color   "#6770e4"
        inactive-color "#1b1c22"
        urgent-color   "#fd4663"
    }

    shadow {
        color "#1b1c2270"
    }

    tab-indicator {
        active-color   "#6770e4"
        inactive-color "#0c158d"
        urgent-color   "#fd4663"
    }

    insert-hint {
        color "#6770e480"
    }
}

recent-windows {
    highlight {
        active-color "#6770e4"
        urgent-color "#fd4663"
    }
}
