layout {

    focus-ring {
        active-color   "#65b2e7"
        inactive-color "#082335"
        urgent-color   "#fd4663"
    }

    border {
        active-color   "#65b2e7"
        inactive-color "#082335"
        urgent-color   "#fd4663"
    }

    shadow {
        color "#08233570"
    }

    tab-indicator {
        active-color   "#65b2e7"
        inactive-color "#095990"
        urgent-color   "#fd4663"
    }

    insert-hint {
        color "#65b2e780"
    }
}

recent-windows {
    highlight {
        active-color "#65b2e7"
        urgent-color "#fd4663"
    }
}
