layout {

    focus-ring {
        active-color   "#67c3e4"
        inactive-color "#142029"
        urgent-color   "#fd4663"
    }

    border {
        active-color   "#67c3e4"
        inactive-color "#142029"
        urgent-color   "#fd4663"
    }

    shadow {
        color "#14202970"
    }

    tab-indicator {
        active-color   "#67c3e4"
        inactive-color "#0c6b8d"
        urgent-color   "#fd4663"
    }

    insert-hint {
        color "#67c3e480"
    }
}

recent-windows {
    highlight {
        active-color "#67c3e4"
        urgent-color "#fd4663"
    }
}
