layer-rule {
  match namespace="^mpvpaper$"  // namespace="^quickshell$"
  place-within-backdrop true
}

// ────────────── Window Rules ──────────────
// https://github.com/YaLTeR/niri/wiki/Configuration:-Window-Rules

window-rule {
	geometry-corner-radius 20
	clip-to-geometry true
  tiled-state true
  draw-border-with-background false
  opacity 0.95
}

window-rule {
	match app-id="kitty" is-focused=true
	opacity 0.98
	default-column-width {}
}

window-rule {
	match app-id=r#"zen$"# title="^Picture-in-Picture$"
	match app-id="AmneziaVPN"
	match app-id="Pinentry-gtk"
  match app-id=r#"org.quickshell$"#
	open-floating true
}

window-rule {
  match app-id="zen" 
  open-on-workspace "browser"
}

window-rule {
  match app-id="zen" 
  default-column-width { proportion 1.0; }
}

window-rule {
  match app-id="Zoom Workplace" title=".*menu.*"
  open-floating true
  min-width 250
  open-focused true
}
