button {
  background: none;
}

#bar {
  border: 1px solid @borders;
}

.workspaces {
  border-top: 1px solid @borders;
}

.workspaces .item {
  background: none;
  border-radius: 0;
}

.workspaces .item.focused {
  background-color: @wm_highlight;
  color: @budgie_tasklist_indicator_color_active;
}

.workspaces button,
.notifications button {
  margin: 0;
  padding: 3px;
}

.popup-weather #header {
  font-size: 1.8em;
  padding-bottom: 0.4em;
  margin-bottom: 0.6em;
  border-bottom: 1px solid @color-border;
}

.popup-weather .weather-date {
  font-size: 1.5em;
  padding-right: 1em;
}

.popup-weather .weather-avg {
  margin-left: 0.5em;
  margin-right: 0.5em;
}

/* 
 this is a hack to align the different font sizes on left/right 
 you may need to adjust for different fonts
*/
.popup-weather #temps label {
  padding-top: 0.2em;
  margin-bottom: 0.7em;
}

.upower {
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 2px;
  padding: 3px;
  background-color: @wm_highlight;
}
