button {
  background: none;
  border-radius: 0;
  box-shadow: none;
}

#bar {
  border-right: 1px solid @borders;
}

.workspaces {
  border-top: 1px solid @borders;
}

.workspaces .item {
  background: none;
}

.workspaces .item.focused {
  background-color: @wm_highlight;
  color: @budgie_tasklist_indicator_color_active;
}

.workspaces button,
.notifications button {
  margin: 0;
  padding: 0;
}

.workspaces .item:hover {
  background-color: @wm_highlight;
}

.upower {
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 2px;
  padding: 3px;
  background-color: @wm_highlight;
}

.tray {
  padding-bottom: 20px;
}

.clock {
  font-weight: bold;
}
