* button {
  background: none;
}

.workspaces {
  border: 1px solid @borders;
}

.workspaces .item {
  background: none;
  border-radius: 0;
}

.workspaces .item.focused {
  background-color: @wm_highlight;
  color: @budgie_tasklist_indicator_color_active;
}
