binds {
  Mod+Alt+L hotkey-overlay-title="Lock Screen" { 
    spawn-sh "noctalia msg session lock"; 
  }
  Mod+Comma hotkey-overlay-title="Open settings" {
    spawn-sh "noctalia msg settings-toggle";
  }
  Mod+A hotkey-overlay-title="Launcher" {
    spawn-sh "noctalia msg panel-toggle launcher";
  }
  Mod+Shift+W hotkey-overlay-title="Browse Wallpapers" {
    spawn-sh "noctalia msg panel-toggle wallpaper"; 
  }
  Mod+Escape allow-when-locked=true hotkey-overlay-title="Power Menu" {
    spawn-sh "noctalia msg panel-toggle session"; 
  }

  Mod+Ctrl+O hotkey-overlay-title="Control center popup"{
    spawn-sh "noctalia msg panel-toggle control-center 1"; 
  }
  Mod+Ctrl+M hotkey-overlay-title="Media popup" {
    spawn-sh "noctalia msg panel-toggle control-center media"; 
  }
  Mod+Ctrl+W hotkey-overlay-title="Weather popup" {
    spawn-sh "noctalia msg panel-toggle control-center weather"; 
  }
  Mod+Shift+O hotkey-overlay-title="Output brightness popup" {
    spawn-sh "noctalia msg panel-toggle control-center display";
  }
  Mod+N hotkey-overlay-title="Notifications popup" {
    spawn-sh "noctalia msg panel-toggle control-center notifications"; 
  }
  Mod+Ctrl+S hotkey-overlay-title="System popup" {
    spawn-sh "noctalia msg panel-toggle control-center system"; 
  }
  Mod+Ctrl+D hotkey-overlay-title="Datetime popup" {
    spawn-sh "noctalia msg panel-toggle control-center calendar"; 
  }

  Mod+Shift+N hotkey-overlay-title="Clear Notifications" {
    spawn-sh "noctalia msg notification-clear-history"; 
  }

  XF86AudioRaiseVolume allow-when-locked=true { spawn-sh "noctalia msg volume-up"; }
  XF86AudioLowerVolume allow-when-locked=true { spawn-sh "noctalia msg volume-down"; }
  XF86AudioMute allow-when-locked=true { spawn-sh "noctalia msg volume-mute"; }
  XF86MonBrightnessUp { spawn-sh "noctalia msg brightness-up"; }
  XF86MonBrightnessDown { spawn-sh "noctalia msg brightness-down"; }
}
