include "binds.kdl"

debug {
  // Allows notification actions and window activation from Noctalia.
  honor-xdg-activation-with-invalid-serial
}

// Floating Noctalia settings window.
window-rule {
  match app-id="dev.noctalia.Noctalia.Settings"
  open-floating true
  default-column-width { fixed 1080; }
  default-window-height { fixed 920; }
}


// Set transparent workspace background color so you see the backdrop at all times.
layout {
  background-color "transparent"
}

// Optionally, disable the workspace shadows in the overview.
overview {
  workspace-shadow {
    off
  }
}

layer-rule {
  match namespace="^noctalia-backdrop"
  place-within-backdrop true
}

blur {
  passes 2        // more passes = stronger blur (default: 3)
  offset 3.0      // sample distance per pass (default: 3.0)
  noise 0.03      // grain overlay (default: 0.02)
  saturation 1.0  // color saturation boost (default: 1.5)
}
