layout {
    background-color "transparent"

    focus-ring {
        active-color   "#82aaff"
        inactive-color "#636da6"
        urgent-color   "#ff757f"
    }

    border {
        active-color   "#82aaff"
        inactive-color "#636da6"
        urgent-color   "#ff757f"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#82aaff"
        inactive-color "#636da6"
        urgent-color   "#ff757f"
    }

    insert-hint {
        color "#82aaff80"
    }
}

recent-windows {
    highlight {
        active-color   "#3e68d7"
        urgent-color   "#ff757f"
    }
}