window {
  background-image: url("../../wallpapers/András_Markó_-_View_of_Rome_from_Villa_Madama.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: black;
}
