window {
  background-image: url("../../wallpapers/Green Lush.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: black;

  color: #c6d0f5;
}
